@charset "UTF-8";

/* Light Mode */
/* ライトモード */
@media (prefers-color-scheme: light)
{
    html
    {
        color: #281414;
        background-color: #ebebeb;
    }
    header b p
    {
        background-color: #f4f4f4;
    }
    header b p a
    {
        color: #4e403e;
    }
    main
    {
        background-color: #f4f4f4;
    }

    /*Text*/
    /*文字系*/
    a{color: #c50052;}
    /*p a, a p{color: #281414;}*/
    ::selection
    {
        color: rgba(255, 255, 255, .45);
        background: rgba(24, 12, 12, .60);
    }
}
/* Dark Mode */
/* ダークモード */
@media (prefers-color-scheme: dark)
{
    html
    {
        color: #e8e8e8;
        background-color: #2f2f2f;
    }
    header b p
    {
        background-color: #453b3b;
    }
    header b p a
    {
        color: #e8e8e8;
    }
    main
    {
        background-color: #453b3b;
    }

    /*Text*/
    /*文字系*/
    a{color: #edd5dd;}
    /*p a, a p{color: #e8e8e8;}*/
    ::selection
    {
        color: rgba(24, 12, 12, .45);
        background: rgba(255, 255, 255, .60);
    }
}

html
{
    font-family: "游明朝", "ヒラギノ明朝 ProN", "Meiryo", serif, sans-serif;
    width: 100%;
}

body{margin: 0;}

header b p
{
    font-size: 1.6em;
    margin: 0;
    margin-bottom: 1.6em;
    padding: 0.4em;
}

main
{
    width: 90%;
    padding: 0.2em;
    margin-bottom: 1.4em;
}

/*Text*/
/*文字系*/
a
{
    /*Without Underber*/
    /*下線無効化*/
    text-decoration: none;
}
a:focus, a:hover
{
    opacity: 0.8;
}
